@import "tailwindcss";

body { 
    background: #000; 
    color: #fff; 
    margin: 0; 
    scroll-behavior: smooth;
}

/* Custom Utilities for Animation */
.reveal {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/* Gradient text effect */
#hero-title {
    background: linear-gradient(to right, #fff, #4b5563);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}